/***************************************/
/* Let's get this party started, yeah? */
/***************************************/

// To be fair, these resets were taken
// from mojombo's site.

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  padding: 10px;
}

body {
  background-color: #2D2D2D;
  color: #DDD;
  font: 14px avenir, helvetica, arial, clean, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #EEE;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:visited {
  color: #EEE;
}

ul.menu, ul.posts {
  display: block;
  list-style: none inside none;
  padding: 0;
}

ul.menu li {
  display: inline;
  font-size: 1.5em;
  padding: 2em 1em;
}

.content {
  float: left;
  margin-top: 5em;
  width: 100%;
}

.post-title {
  margin-top: 4em;
}

.more-posts {
  float: left;
  padding-top: 20px;
  width: 100%;
}

ul.posts li {
  padding: 1em;
}

.footer {
  margin-top: 4em;
}
