/***************************************/
/* Let's get this party started, yeah? */
/***************************************/

// Some resets before we get rolling.

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #fff;
  color: #1f1f1f;
  font: 16px 'Open Sans', sans-serif;
  text-align: center;
}

a, a:visited {
  color: #1f1f1f;
  text-decoration: none;
}
a:hover {
  color: #888;
}
.menu {
  float: left;
  margin: 2em;
  text-align: center;
  width: 200px;
}
.menu-header {
  margin: 0.5em 0;
}
ul.links {
  display: inline-block;
  list-style: none inside none;
  margin: 0;
  padding: 0;
}
ul.links li {
  display: inline;
  font-size: 1.5em;
  margin: 10px;
  padding: 0;
  width: 32px;
}
.link img {
  height: 32px;
  width: 32px;
}
.content {
  float: left;
  margin-top: 2em;
  min-width: 400px;
  width: 50%;
}
.post {
  border-bottom: solid 1px #a1a1a1;
  margin-bottom: 1em;
}
.post p, .post-content {
  text-align: left;
}
.excerpt-link {
  font-size: 12px;
}
.footer {
  float: left;
  font-size: 10px;
  padding-top: 2em;
  text-align: center;
  width: 100%;
}
