<div class='menu'>

  <h1 class='title'>
    <a href='/'>Brian Levine
    </a>
  </h1>

  {% include about.html %}

  <ul class='links'>
    <li>
      <a
        class='link'
        id='archive-link'
        href='/archives.html'>
          All Posts
      </a>
    </li>
    <li>
      <a
        class='link'
        id='twitter'
        href='http://www.twitter.com/Brian_A_Levine'>
          <img src='{{ baseurl }}/twitter-logo.png' alt="Find me on Twitter">
      </a>
    </li>
    <li>
      <a
        class='link'
        id='github'
        href='https://www.github.com/balevine'>
          <img src='{{ baseurl }}/GitHub-logo.png' alt="Find me on GitHub">
      </a>
    </li>
    <li>
      <a
        class='link'
        id='instagram'
        href='http://www.instagram.com/brian_levine'>
          <img src='{{ baseurl }}/instagram-logo.png' alt="Find me on Instagram">
      </a>
    </li>
  </ul>

</div>
