<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
<title>Brian's User Page</title>
</head>

<body>

<div class='header'>
  <h1>Brian's User Page</h1>
  <h2>He is not to be trifled with.</h2>
  <ul class='menu'>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/links.html">Links</a></li>
  </ul>
</div>

<div class='content'>
  {% for post in site.posts %}
    {% if post == site.posts.first %}
      {{ post.excerpt }}
    {% endif %}

    {% if post == site.posts.second %}
      {{ post.excerpt }}
    {% endif %}

    {% if post == site.posts.third %}
      {{ post.excerpt }}
    {% endif %}

    {% if post == site.posts.fourth %}
      {{ post.excerpt }}
    {% endif %}

  {% endfor %}
</div>


<div class='sidebar'>
  <h3>Previous Posts</h3>
    <ul class='posts'>
      {% for post in site.posts %}
        {% if post != site.posts.first %}
        <li><span>{{ post.date | date_to_string }}</span> -- <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
</div>

<div class='footer'>
<p>{{ site.url }}</p>
</div>

</body>
</html>
