{% include head.html %}

{% include menu.html %}

<div class='content'>

    <h2 class='page-title'>Things I Say</h2>

      {% for post in site.posts limit:5 %}
      <div class='post'>
        <h3 class='post-title'><a href="{{ post.url }}">{{ post.title }}</a></h2>

        {{ post.excerpt}}

        <a class='excerpt-link' href="{{ post.url }}"><i>click for more...</i></a>
      </div>
      {% endfor %}

</div>

<!-- Not Yet
  <div class='more-posts'>
    <h3><a href=''>All Posts</a></h3>
  </div>
-->

{% include footer.html %}
